/* configuracion de contacto */

.contactoinfo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}



/* esto es para mis iconitos de los datos de contacto */

.contactoitem {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: dimgray;
    font-size: 1.1rem;
}

.contactoitem img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.contactogrid {
    display: grid;
    grid-template-columns: 1fr 1.3fr; /* info izquierda / form derecha */
    gap: 4rem;
    align-items: start;
    margin: 6rem auto;
}

.contactoform form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.campo label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #333;
}

.campo input,
.campo textarea {
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1rem;
    border: 1px solid #999;
    border-radius: 10px;
    background-color: #ffffff;
    outline: none;
}

.campo textarea {
    min-height: 160px;
    resize: vertical;
}

/* este botòn enviar en el formulario es estèticamente el mismo para la página contacto y talleres y para compras */

.boton {
    margin-top: 2rem;
    padding: 1.2rem;
    font-size: 0.95rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 999px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #222;
}

/* aunque esté disabled, no se ve gris. hay que cambiarlo cuando gane funcionalidad */
.boton:disabled {
    opacity: 1;
    cursor: not-allowed;
}

.contactoform button:hover {
    background-color: #222;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* configuracion para pagina contacto mobile */

@media (max-width: 768px) {
    .contactogrid {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .contactoinfo {
        order: 1;
    }

    .contactoform {
        order: 2;
    }
}