@use '../mixin' as m; 
@use '../variables' as v;

/* configuracion de galeria */
.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: 3rem 0;

    .card {
        overflow: hidden; /* esto es para que el zoom in no me rompa todo el grid */
        aspect-ratio: 3/2;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            filter: grayscale(100%);
            transition: transform 1s ease, filter 1s ease;
        }

        &:hover img {
            transform: scale(1.1);
            filter: grayscale(0%);
        }
    }

    @include m.mobile {
        grid-template-columns: 1fr;
    }
}

/* galeria Mobile */
@media (hover: none) {
    .galeria {
        .card {
            img {
                filter: grayscale(0%);
            }
        }
    }
}