@use '../mixin' as m; 
@use '../variables' as v;

/* configuracion del index */
.contenedor {
    max-width: 1400px;
    padding: 0 1.5rem;
    margin: 0 auto;
}

body {
    background-color: v.$colorfondobody;
}

h1 {
    color: dimgray;
    font-size: 40px;
    margin-top: 4rem;
}

.bloque {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "titulo titulo"
        "imagen texto";
    gap: 2rem;
    align-items: start;
    margin: 4rem 0;

    .titulo { grid-area: titulo; }
    .imagen {
        grid-area: imagen;
        width: 100%;
        height: auto;
    }
    .texto { grid-area: texto; }

    &.bloque2 {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "titulo titulo"
            "texto imagen";
    }
}

/* configuracion de la página index para mobile*/
@include m.mobile {
    .bloque {
        grid-template-columns: 1fr;
        grid-template-areas:
            "titulo"
            "imagen"
            "texto";
            
        &.bloque2 {
            grid-template-areas:
                "titulo"
                "imagen"
                "texto";
        }
    }
}