/* configuracion de talleres */

.talleresvideo {
    display: flex;
    justify-content: center;
    margin: 6rem 10rem;

}

.talleres {
    display: grid;
    margin: 3rem auto;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    gap: 3rem;
    align-items: stretch;
}

.tallerescard {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 1.8rem;
    overflow: hidden;
    padding-bottom: 1rem;
    background-color: white;
    box-shadow: 0 4px 5px rgb(238, 238, 238);
    transition:
        border-color 0.3s ease,
        box-shadow 0.3s ease,
        transform 0.3s ease;
}

.tallerescard:hover {
    border-color: black;
    box-shadow: 0 10px 15px 8px rgb(204, 204, 204);
    transform: translateY(-4px);

}

.tallerescard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.talleresimg {
    aspect-ratio: 3 / 2;
    overflow: hidden;
}

.talleresimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.tallerescard h3 {
    margin: 1rem;
    font-size: 1.3rem; 
}

.tallerescard p {
    margin: 0 1rem;
    line-height: 1.5;
    flex-grow: 1;
}

.tallerescard .boton {
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
    margin: 1.5rem auto 2rem auto;
    align-self: center;
    max-width: calc(100% - 2rem);
}

@media (max-width: 768px) {
    .talleres {
        grid-template-columns: 1fr;
    }
}

.formtalleres {
    max-width: 600px;
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* configuracion para página talleres mobile */

@media (max-width: 768px) {
    .talleresvideo {
        margin: 3rem 0;
        padding: 0 1rem;
    }

    .talleresvideo video {
        max-width: 100%;
    }
}